{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    <h4>Welcome, valued customer</h4>
    <p>Please identify yourself so we can serve you better</p>
    <form id="login-form" action="/auth/login" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" id="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}